# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env / secrets
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data / logs (à ajuster selon le projet)
*.log
/data/raw/
